* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

/****navbar****/
nav {
    position: fixed;
    background: #2C3E50;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    color: white;
}

.position-left {
    float: left;
    width: 50%;
    padding: 12px;
    font-size: 1rem;
}

.position-right {
    float: right;
    width: 30%;
    padding: 12px;
    font-size: 1rem;
}

li, li a {
    display: inline-block;
}

li {
    margin-left: 24px;
}

main {
    padding-top: 180px;
}

/****header****/
.introduction {
    background-color: #ECF0F1;
    padding: 10px;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 3rem;
    width: 80%;
    margin-left: 180px;
    margin-right: 40px;
}

.background {
    border: 20px solid #ECF0F1;
}

p {
    font-size: 1.5rem;
}

/****image gallery****/
section {
    width: 100%;
}

img {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 40px;
    border: 1px solid grey;
}

/*RWD*/
@media (max-width: 1350px) {
    main {
        width: 100%;
    }

    .introduction {
        width: 80%;
        margin: auto;
        font-size: 0.75rem;
    }

    img {
        width: 45%;
    }
}

@media (max-width: 1250px) {
    img {
        width: 75%;
    }

    .introduction, h1, p {
        width: 70%;
        font-size: 1.25rem;
        display: inline-block;
        margin: auto;
        text-align: center;
    }

    nav ul li {
        display: flex;
        flex-direction: row;
        padding: 3px;
    }
}

@media (max-width: 1070px) {
    .introduction h1, p {
        display: inline-block;
        width: 100%;
        margin: auto;
        font-size: 1.25rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .introduction, h1, p {
            display: inline-block;
            font-size: 1rem;
            width: 100%;
            margin: auto;
            text-align: center;
    }
}